.header {
	      padding: 5px ;
		  text-align:center;
		  height: 25%;
		  width: 100%;
		  background-color: rgba(0, 142, 159, 0.8); 
		  border :2px solid black;
		  
		}
    .category{
	margin-left:20px;
	margin-right:20px;
    float:left;
	padding-left:35px;
	padding-right:35px;
	}